<div class="row h-screen">
  <main role="main" class="col-md-10">
    <table class="Question__table">
      <thead>
        <th class="Question__header-views">Views</th>
        <th class="Question__header-title">Question</th>
      </thead>
      <tbody>
        <tr class="Question__question">
          <td class="Question__views">{{this.question.views}}</td>
          <td class="Question__title">{{this.question.title}}</td>
        </tr>
        <tr>
          <td></td>
          <td class="Question__author">From: {{this.question.createdBy.email}}</td>
        </tr>
        <tr>
          <td></td>
          <td class="Question__description">{{this.question.description}}</td>
        </tr>
        <tr>
          <td></td>
          <td class="Question__tags">
            {{#each this.question.tags as |tag|}}
              <span class="Question__tag">{{tag}}</span>
            {{/each}}
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="Question__answer-header">
            Answers
          </td>
        </tr>
        {{#each this.question.answers as |answer|}}
          <tr>
            <td></td>
            <td class="Question__answer__body">
              <div class="Question__answer__author">by {{answer.createdBy.email}}</div>
              <div class="Question__answer__text">{{answer.text}}</div>
            </td>
          </tr>
        {{/each}}
        {{#if this.session.user.email}}

        {{/if}}
      </tbody>
    </table>
  </main>
</div>