<div class="row h-screen">
  <main role="main" class="col-md-10">
    <div class="Question__header">Expert Advice</div>
    <div class="Question__subheader">Get answers to difficult questions</div>
    <div class="Question__search-bar">
      <div class="Question__search">
        <input value={{this.tempSearch}} {{on "input" this.updateSearch}} placeholder="Search..." />
        <LinkTo
          @route="ask"
          disabled={{unless this.session.user.email "disabled"}}
          role="button"
          class="Question__ask-button btn btn-primary"
        >
          Ask a Question
        </LinkTo>
      </div>
    </div>
    <table class="Question__table">
      <thead>
        <th class="Question__header-views">Views</th>
        <th class="Question__header-title">Questions</th>
      </thead>
      <tbody>
        {{#each @model as |question|}}
          <tr class="Question__question">
            <td class="Question__views">{{question.views}}</td>
            <td class="Question__title">{{question.title}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="Question__page-nav">
      {{#each this.pages as |page|}}
        <LinkTo @route="questions" @query={{hash page=page}}>{{page}}</LinkTo>
      {{/each}}
    </div>
  </main>
</div>
